<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
</head>
<body>
<div class="titleArea">
    <h2>관리자 로그인</h2>
</div>
<div class="loginForm">
    <form action="/AdminLogin" method="post">
        <div id="adminLabel">
            <label for="admin">아이디:</label>
            <input id="admin" name="admin" required type="text">
        </div>
        <div id="passwordLabel">
            <label for="password">비밀번호:</label>
            <input id="password" name="password" required type="password">
        </div>
        <div id="button">
            <button type="submit">로그인</button>
        </div>
    </form>
</div>
</body>
</html>