<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>관리자 로그인</title>
    <link href="/css/AdminLogin.css" rel="stylesheet">
</head>

<body>
<div class="login-container">
    <div class="titleArea">
        <h2>관리자 로그인</h2>
    </div>
    <div class="loginForm">
        <form action="/AdminLogin" method="post">
            <div class="input-group">
                <label for="admin">아이디:</label>
                <input id="admin" name="admin" placeholder="아이디 입력" required type="text">
            </div>
            <div class="input-group">
                <label for="password">비밀번호:</label>
                <input id="password" name="password" placeholder="비밀번호 입력" required type="password">
            </div>
            <div class="button-group">
                <button type="submit">로그인</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>